<div class="container-fluid" id="trend-con">
    <div class="row">
        <div class="col-12">
            <h1>Who is trending?</h1>
        </div>
        <div class="col-6">
            <ul class="artist-list">
                <li>{{dj}}</li>
            </ul>
        </div>
    </div>
</div>