<section>
<br>
<p>Welcome to Soundiscover, an application designed to show you many important details of your favorite tracks!</p>
<br>
<p>Upon searching a song's name, the key its written in, the artist its written by, the BPM, and the app also lets you </p>
<br>
<br>
<br>
<p>About the Team: We are a Dallas based group of programmers who share a passion for music, art, coding difficult things late through the night...and good coffee.</p>
<br>
<p>Credits: Lead Backend Programmer: John Oakley</p>
<br>
<p>         Full Stack Programmer: Chip Pena</p>
<br>
<p>         Front End Developers: Sam Moore and Jaime Padilla</p>
</section>
