<form class="li-form">
    <div>
        <label for="email-li">EMAIL:</label>
        <input type="text" id="email-li" />
    </div>
    <div>
        <label for="pw-li">PASSWORD:</label>
        <input type="password" id="pw-li" />
    </div>
    <div>
        <button type="submit">LOGIN</button>
    </div>
</form>

<form class="su-form">
    <div>
        <label for="user-su">USERNAME:</label>
        <input type="text" id="user-su" />
    </div>
    <div>
        <label for="email-su">EMAIL:</label>
        <input type="text" id="email-su" />
    </div>
    <div>
        <label for="userwp-su">WEBPAGE:</label>
        <input type="text" id="userwp-su" />
    </div>
    <div>
        <label for="pw-su">PASSWORD:</label>
        <input type="password" id="pw-su" />
    </div>
    <div>
        <button type="submit">SIGN UP</button>
    </div>
</form>
<script src="/javascript/login.js"></script>