<h1>You're now logged in!</h1>

<a href="/uploadartist">Upload Artist</a>
<a href="/uploadsong">Upload A Track</a>

{{!-- 
<form class="new-song">
    <div>
        <label for="song-title">TITLE:</label>
        <input type="text" id="song-title" name="song-title"/>
    </div>
    <div>
        <label for="song-bpm">BPM:</label>
        <input type="text" id="song-bpm" name="song-bpm"/>
    </div>
    <div>
        <label for="song-key">KEY:</label>
        <input type="text" id="song-key" name="song-key"/>
    </div>
    <div>
        <button type="submit">UPLOAD SONG</button>
    </div>
</form> --}}
{{#if songs.length}}
<section>
    <h2>Songs You've Uploaded</h2>
    <ul>
        {{#each songs as |song|}}
        <li>
            {{>song-card song}}
        </li>
        {{/each}}
    </ul>
</section>
{{/if}}

{{!-- <script src="/javascript/uploadsong.js"></script> --}}