<form class="new-artist">
    <div>
        <label for="song-artist">ARTIST:</label>
        <input type="text" id="song-artist" name="song-artist"/>
    </div>
    <div>
        <label for="song-artist-wp">ARTIST'S WEBPAGE:</label>
        <input type="text" id="song-artist-wp" name="song-artist-wp"/>
    </div>
    <div>
        <button type="submit">UPLOAD ARTIST</button>
    </div>
</form>

<script src="/javascript/uploadartist.js"></script>